<header class="intro-header" style="background-image: url('img/shutterstock_422347750.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>we are meetups</h1>
                    <hr class="small">
                    <span class="subheading">about us</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
  <div class="white">
    <strong>The team at <i>we are meetups</i> have designed a new style of networking events for the event professionals. </strong><br><br>

    These events work with LinkedIn to help you easily connect with the people you meet and grow your network. You will even be able to see who is going to attend so you can plan who you want to meet and connect with them before the event. <br><br>

    The concept is simple. You get invited by the organiser to attend but you have to invite someone in return and give a reason why you are inviting them. The result is a perfectly curated guest list of interesting people you will actually want to meet.  We look forward to seeing you at one of our events.
</div>
</div>
