<header class="intro-header" style="background-image: url('img/shutterstock_422347750.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>we are meetups</h1>
                    <hr class="small">
                    <span class="subheading">contact us</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
  <div class="white">
    For all enquiries please email
    <a href="<%= @email %>"><%= @email %></a>
  </div>
</div>
