<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
var token = '6033867.a321c67.b6a7c62475d7433faf9d4d5a0cfd8b6f',
    username = 'pkerwood',
    num_photos = 20;

    $.ajax({
      url: "https://igapi.ga/pkerwood/media?count=30",
      dataType: 'jsonp',
      type: 'GET',
      data: {access_token: token, count: num_photos},
      success: function(feed){
        console.log(feed.items[0].images.standard_resolution.url);
        for(x in feed.items){
          $('#instagram-feed').append('<a href="'+feed.items[x].link+'"><img class="instapic" src="'+feed.items[x].images.standard_resolution.url+'" width="300"  height="300"</a>');
        }
          },
      error: function(feed){
        console.log(feed);
      }
    });

</script>

<header class="intro-header" style="background-image: url('img/shutterstock_422347750.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>we are meetups</h1>
                    <hr class="small">
                    <span class="subheading">networking events for events professionals</span><br>
                    <form class="" action="/reply" method="get">
                      <input type="image" src="https://dryfta.com/wp-content/uploads/2017/04/Linkedin-customized-button.png" width="230">
                    </form>
                </div>

            </div>
        </div>
    </div>
</header>

<form class="" action="https://www.instagram.com/pkerwood" method="get">
  <input type="image" src="assets/insta.png" width="30">
</form>
our events
<div id="instagram-feed">
</div>
