<div class="admin-header"></div>

<form class="" action="/new-event" method="post">
<p> <input type="text" name="title" placeholder="event title"> </p>
<p> <textarea name="description" cols="40" rows="3" placeholder="description"></textarea></p>
<p> <input type="text" name="location" placeholder="address"></p>
<p> <input type="text" name="postcode" placeholder="postcode"></p>
<p> <input type="date" name="date">
  <input type="time" name="time"> to 
  <input type="time" name="end"></p>
  <input type="hidden" name="user_id" value="<%= @user %>">
  <input class="btn" type="submit" value="Create Event">
</form>
