<header class="intro-header" style="background-image: url('img/shutterstock_422347750.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>we are meetups</h1>
                    <hr class="small">
                    <span class="subheading">email conflict</span>
                </div>
            </div>
        </div>
    </div>
</header>

<h3>We have two email addresses for you, which is your primary contact address?</h3>
<form class="" action="/resolve" method="post">
  <input type="hidden" name="sent_to" value="<%= @sent_to %>">
  <input type="hidden" name="linkedin" value="<%= @system %>">
  <input type="radio" name="email" value="sent_to"> <%= @sent_to %></input>
  <br>or<br>
  <input type="radio" name="email" value="linkedin"> <%= @system %></input><br>
  <input class="button" type="submit" value="choose this email address">
</form>
