.table{
	display: table;
}
.table-row {
  border: 1px solid #e3e3e3;
	display: table-row;
}
.table-cell {
	display: table-cell;
	padding: 6px 6px 6px 6px;
  vertical-align: top;
}
.table-body {
	display: table-row-group;
}

.photo {
  width: 70px;
  text-align: right;
}
.linkedin {
  width: 400px;
}
.invite {
  width: 400px;
}
.flash {
  color: red;
  font-style: oblique;
}

.invite {
  border: none;
}
