.table{
	display: table;
}
.table-row {
  border: 1px solid #e3e3e3;
	display: table-row;
}
.table-cell {
	display: table-cell;
	padding: 6px 6px 6px 6px;
  vertical-align: top;
}
.table-body {
	display: table-row-group;
}

.photo {
  width: 70px;
  text-align: right;
}
.linkedin {
  width: 400px;
}
.invite {
  width: 400px;
}
.flash {
  color: red;
  font-style: oblique;
}

 body{
	 text-align: center;
 }

.sign-in {
	padding-bottom: 40px;
}

.admin-header{
	background: #ffc578;
	background: -moz-linear-gradient(-45deg, #ffc578 0%, #b8d378 33%, #f28a8a 46%, #fb9d23 100%);
	background: -webkit-linear-gradient(-45deg, #ffc578 0%,#b8d378 33%,#f28a8a 46%,#fb9d23 100%);
	background: linear-gradient(135deg, #ffc578 0%,#b8d378 33%,#f28a8a 46%,#fb9d23 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=1 );
	height: 60px;
	margin-bottom: 30px;
}
