.table{
	display: table;
}
.table-row {
  border: 1px solid #e3e3e3;
	display: table-row;
}
.table-cell {
	display: table-cell;
	padding: 6px 6px 6px 6px;
  vertical-align: top;
}
.table-body {
	display: table-row-group;
}

.photo {
  width: 70px;
  text-align: right;
	vertical-align: middle;
}

.invite {
  text-align: justify;
	background-color: white;
}
.flash {
  color: red;
  font-style: oblique;
}

 body{
	 text-align: center;
 }

.sign-in {
	padding-bottom: 40px;
}

.admin-header{
	background: #ffc578;
	background: -moz-linear-gradient(-45deg, #ffc578 0%, #b8d378 33%, #f28a8a 46%, #fb9d23 100%);
	background: -webkit-linear-gradient(-45deg, #ffc578 0%,#b8d378 33%,#f28a8a 46%,#fb9d23 100%);
	background: linear-gradient(135deg, #ffc578 0%,#b8d378 33%,#f28a8a 46%,#fb9d23 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=1 );
	height: 60px;
	margin-bottom: 30px;
	color: white;
	text-align: center;
}
.instapic {
	padding: 4px 4px 4px 4px;
}
#instagram-feed {
 padding-top: 15px;
}

.invite-list{
	color: white;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
}

.white{
	background-color: white;
	padding: 5px 5px 5px 5px;
	margin-top: 5px;
}
.user {
	border: 1px;
	padding: 5px 5px 5px 5px;
	background-color: white;
}

.title{
	font-size: 35px;
	color: white;
	font-weight: bold;
}
 .rsvp{
	 padding: 2px 2px 12px 2px;
	 background-color: #F6F3EB;
	 margin-top: 8px;
	 margin-bottom: 8px;
	 text-align: center;
 }
 .button {
     border: none;
     color: white;
     padding: 8px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     -webkit-transition-duration: 0.2s; /* Safari */
     transition-duration: 0.2s;
     cursor: pointer;
     background-color: white;
     color: black;
     border: 2px solid #008CBA;
 }

 .button:hover {
     background-color: #008CBA;
     color: white;
 }
